
.welcome {
  background-image: url('kibungo.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  color: white;
}
header {
  background: linear-gradient(135deg, #28a745, #040905);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.welcome .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.welcome .content {
  position: relative;
  z-index: 2;
}

/* Section Title */
.text1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
.browse-btn:hover {
  background-color: black;
  color: white;
}
