body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4ecec;
    color: #333;
  }
  
  header {
    background: linear-gradient(135deg, #28a745, #040905);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;}
  
  section h2 {
    font-weight: 600;
    color: #28a745;
  }
  
  .form-control,
  .btn {
    border-radius: 8px;
  }
  .navbar-nav .nav-link:hover {
    color: #18a996;
  }
  .navbar-nav .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
  }
